<h3>Users Component</h3>
<div class="my-2">
    <label>User Name</label>
    <!-- <input type="text" class="form-control" (input)="onUpdateUser($event)" /> -->
    <input type="text" class="form-control" [(ngModel)]="userName" />
    <div>{{ userName }}</div>
</div>
<button class="btn btn-primary" [disabled]="!allowNewUser" (click)="changeUserCreatedStatus()">Add User</button>
<div *ngIf="isUserCreated"> User is created and the username is {{userName}}</div>
<app-user></app-user>
<app-user></app-user>
<app-user></app-user>