<h3>Users Component</h3>
<div class="my-2">
    <label>User Name</label>
    <!-- <input type="text" class="form-control" (input)="onUpdateUser($event)" /> -->
    <input type="text" class="form-control" [(ngModel)]="userName" />
    <div>{{ userName }}</div>
</div>
<button class="btn btn-primary" [disabled]="!allowNewUser" (click)="changeUserCreatedStatus()">Add User</button>
<div *ngIf="isUserCreated; else nouser"> User is created and the username is {{userName}}</div>
<!-- <div *ngIf="!isUserCreated"> No User is created </div> -->
<ng-template #nouser>
    <div> No User is created </div>
</ng-template>
<app-user *ngFor="let user of users"></app-user>