<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Hi {{ title }}</h3>
      <hr />
      <app-users></app-users> 
     <div app-users></div>
      <div class="app-users"></div>
    </div>
  </div>
</div> -->
<!-- 
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <app-new-users></app-new-users>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row my-3">
    <div class="col-md-12">
      <app-addserviceuser></app-addserviceuser>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-serviceuser *ngFor="let user of users; let i = index" [user]="user" [id]="i"></app-serviceuser>
    </div>
  </div>
</div>