<app-adduser (userAdded)="onUserAdded($event)"></app-adduser>

<div class="mt-3">
    <h3>Users List</h3>
    <button class="btn btn-primary" (click)="onNameChange()">Change Name</button>
    <button class="btn btn-danger" (click)="onDeleteComponent()">Delete Component</button>
    <app-new-user *ngFor="let user of userList" [user]="user" [name]="name">
        <p #userParagraph>Username : {{ user }}</p>
    </app-new-user>
</div>

<div [ngStyle]="{'background-color': 'red'}">
    Using builtin ngStyle Attribute - Please add the background color to Red
</div>

<div appHighlightText>
    Using custom Attribute - Please add the background color to Red
</div>

<div appRendererHighlight [defaultColor]="'blue'" highlightColor="orange">
    Using Renderer2 - Please add the background color to Green
</div>

<div *ngIf="isAvailable">
    Show the Div when isAvailable is true
</div>

<ng-template [ngIf]="isAvailable">
    <div>
        Show the Div when isAvailable is true
    </div>
</ng-template>

<div>
    <button class="btn btn-warning" (click)="isAvailable = !isAvailable">Toggle Condition</button>
</div>

<div *appAlternateIf="isAvailable">
    This condition enables custom structural directive
</div>